h1, .log-status {
  color: indianred;
}

.log-status {
  font-size: 10px;
}

form {
  background-color: #f8f9fa;
  padding: 15px 20px;
}

div.loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
}

div.loading span {
  display: block;
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 25px;
  text-align: center;
  background-color: white;
}